.navbar {
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.dropdown-logo{
    width: 2em;
}