.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1em;
    padding: .1em .6em;
    font-size: 1.4rem;
    border:none;
    background: none;
}

.add-btn img{
    width: 60px;
    height: 60px;
   
}

.add-btn img:hover{
    animation: rotateBtn .4s ease-in alternate-reverse;
   
}

@keyframes rotateBtn {
    0%{
        transform: rotate(0) scale(1);
    }

    50%{
        transform: rotate(-5deg) scale(.8);
    }
    100%{
        transform: rotate(200deg) scale(1);
    }
}

.default-ed-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1em;
}

.ed-forms-data{
    padding: 1em 0;
    border-bottom: 1px solid black;
    width: 100%;
}

.default-ed-info h2 {
    font-size: 1.6rem;
    line-height: 1;
}

.default-ed-data{
    padding: 1em 0;
    border-bottom: 1px solid black;
    width: 100%;
}