.generator-container{
    min-height: 100vh;
    background-color: #ffffff;
}

@media (min-width: 1024px) {
    .generator-container{
        min-height: 100vh;
        width: 60%;
        background-color: #ffffff;
    }
}