.resume-container{
    padding: 1em;
}

.personal-data-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1em;
    margin-bottom: 2.5em;
}

.img-container{
    display: flex;
    justify-content: start;
}

.profile-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    
}

.personal-info{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.email-container, .phone-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.email-container img, .phone-container img {
    width: 20px;
    height: 20px;
}