.welcome-message{
  padding: 1em;
  color: #00b3fb;
  font-size: 1.8rem;
  width: 20ch;
  text-align: center;
  line-height: 1.45;
  font-weight: 600;
}




span{
  color:#ffffff;
}

@media (min-width: 768px){
  p {
    font-size: 2.2rem;
    width: 27ch;
    text-align: center;
  }

  button{
    font-size: 1.8rem;
    padding: 1em;
  }
}