p{
  padding: 1em;
  color: #00b3fb;
  font-size: 1.8rem;
  width: 20ch;
  text-align: center;
  line-height: 1.45;
  font-weight: 600;
}

button{
  background-color: #00b3fb;
  color: #0a1a3c;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1em .5em;
  border: none;
  border-radius: 15px;
  cursor:pointer;
  transition: all .130s ease-in;
}

button:hover{
  background-color: #ffffff;
  color: #272626;
  transform: scale(.9);
  outline: 10px solid #00b3fb;
  font-weight: 900;
}


span{
  color:#ffffff;
}


@media (min-width: 768px){
  p {
    font-size: 2.2rem;
    width: 27ch;
    text-align: center;
  }

  button{
    font-size: 1.8rem;
    padding: 1em;
  }
}