*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ysabeau Office", system-ui;
    -webkit-tap-highlight-color: transparent;
}

#root{
    width: 100%;
    min-height: 100vh;
}

html, body{
    width: 100%;
    min-height: 100vh;
}
small{
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: .3em;
}